{{- $image := .Page.Resources.GetMatch .Destination -}}
{{- if $image -}}
<img src="{{ $image.RelPermalink }}" data-debug="match" data-dest="{{ .Destination }}" data-res="{{ len .Page.Resources }}" data-page="{{ .Page.RelPermalink }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }} style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;">
{{- else -}}
<img src="{{ .Destination | safeURL }}" data-debug="nomatch" data-dest="{{ .Destination }}" data-res="{{ len .Page.Resources }}" data-page="{{ .Page.RelPermalink }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }} style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;">
{{- end -}}
